<a href="https://colab.research.google.com/github/pratyushnishchal007/predictive_maintaience_for_conveyor_system/blob/main/predictive_maintaience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import tensorflow as tf

In [ ]:
#Loading an excel file
df=pd.read_excel('CH.xlsx')

In [ ]:
df.head()

        ID DATA_RECEIVED_MOMENT  CH ID FAN2 Vibration Fan NDE X-axis
0  7258372  2018-07-19 16:30:00                                0.679
1  7258323  2018-07-19 16:35:00                                0.676
2  7258274  2018-07-19 16:40:00                                0.672
3  7258225  2018-07-19 16:50:00                                0.676
4  7258176  2018-07-19 16:55:00                                0.672

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139335 entries, 0 to 139334
Data columns (total 3 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ID                                   139335 non-null  int64
 1   DATA_RECEIVED_MOMENT                 139335 non-null  datetime64[ns]
 2   CH ID FAN2 Vibration Fan NDE X-axis  139335 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 3.2 MB

In [ ]:
df.describe()

                 ID  CH ID FAN2 Vibration Fan NDE X-axis
count  1.393350e+05                        139335.000000
mean   3.741060e+06                             1.657858
std    2.089899e+06                             2.206866
min    2.300000e+01                             0.000000
25%    1.950696e+06                             0.480000
50%    3.811980e+06                             0.525000
75%    5.551514e+06                             0.615000
max    7.258372e+06                             8.872000

In [ ]:
len(df)

139335

In [ ]:
#checking if there is NA value or not
df.isnull().sum()

ID                                     0
DATA_RECEIVED_MOMENT                   0
CH ID FAN2 Vibration Fan NDE X-axis    0
dtype: int64

In [ ]:
df=df.drop(['ID'], axis=1)

In [ ]:
df.head()

  DATA_RECEIVED_MOMENT  CH ID FAN2 Vibration Fan NDE X-axis
0  2018-07-19 16:30:00                                0.679
1  2018-07-19 16:35:00                                0.676
2  2018-07-19 16:40:00                                0.672
3  2018-07-19 16:50:00                                0.676
4  2018-07-19 16:55:00                                0.672

In [ ]:
X = df['DATA_RECEIVED_MOMENT'].values
y = df['CH ID FAN2 Vibration Fan NDE X-axis'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# build the model
model = Sequential()
model.add(Dense(64, input_shape=(1,), activation="relu"))
model.add(Dense(32, activation="relu"))
model.add(Dense(1))

In [ ]:
model.compile(loss='mean_squared_error', optimizer='adam')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139335 entries, 0 to 139334
Data columns (total 2 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   DATA_RECEIVED_MOMENT                 139335 non-null  datetime64[ns]
 1   CH ID FAN2 Vibration Fan NDE X-axis  139335 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.1 MB

In [ ]:
model.fit(X_train, y_train, epochs=10, batch_size=32, verbose=2)

ValueError: ignored